nav span {
  font-family: 'Bungee', cursive;
}

.navArrow {
  color: red;
  animation: MoveUpDown 1s linear infinite;
}
/* moving arrows up/down */
@keyframes MoveUpDown {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-6px);
  }
}

.navRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

header {
  height: 420px;
  width: 100%;
  padding-top: 150px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: lightgray;
  background-image: url(../images/background-image.png);
}