/* nav {
  height: 80px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
} */

nav span {
  font-family: 'Bungee', cursive;
}

.navArrow {
  color: red;
  animation: MoveUpDown 1s linear infinite;
}
/* moving arrows up/down */
@keyframes MoveUpDown {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-8px);
  }
}

.navRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

header {
  height: 420px;
  width: 100%;
  padding-top: 150px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: lightgray;
  background-image: url(../images/background-image.png);
}